.attach {
    margin-left: 2em;
    cursor: pointer;
}

.form-post:hover {
    display: flow-root;
    transition: 2s;

}

#charlimitinfo {
    text-align: right;
    display: block;
}

.post-content {
    margin-left: 58px;
}