.photo-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    right: 65px;
    height: 100%;
    position: absolute;
    border-bottom: 0;
}

.photo-gallery .nav-link {
    border-radius: 0;
    padding: 30px 26px;
    fill: #c2c5d9;
    background-color: #fafbfd;
    border-color: transparent;
    height: 100%;
    border-right-color: #e6ecf5;
    border-left-color: #e6ecf5;
    border-top-color: transparent;
}

.photo-gallery .nav-link.active {
    fill: #ff5e3a;
    background-color: #fff;
    border-top-color: transparent;
}

.photo-gallery .nav-link:hover {
    border-right-color: #e6ecf5;
    border-left-color: #e6ecf5;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.photo-gallery .nav-link svg {
    width: 18px;
    height: 20px;
}

.photo-gallery.nav-tabs .nav-item {
    margin-bottom: 0;
    max-height: 100%;
}

.photo-gallery.nav-tabs .nav-item + .nav-item {
    margin-left: -1px;
}

.block-btn {
    padding-right: 170px;
}

.photo-item {
    display: inline-block;
    padding: 0 12px 12px 0;
    margin-right: -3px;
    position: relative;
    overflow: hidden;
}

.photo-item .overlay {
    bottom: 12px;
    right: 12px;
    border-radius: 5px;
}

.photo-item img {
    border-radius: 5px;
    width: 100%;
    display: block;
}

.photo-item:last-child {
    margin-right: 0;
}

.photo-item .more {
    position: absolute;
    top: 25px;
    right: 25px;
    color: #fff;
    fill: #fff;
    opacity: 0;
    transition: all .3s ease;
}

.photo-item .content {
    position: absolute;
    bottom: 25px;
    left: 20px;
    opacity: 0;
    transition: all .3s ease;
}

.photo-item .content .title {
    color: #fff;
    display: block;
    margin-bottom: 0;
}

.photo-item .content time {
    font-size: 12px;
    color: #b6bbd7;
}

.photo-item .post-add-icon {
    fill: #fff;
    position: absolute;
    right: 25px;
    bottom: 30px;
    opacity: 0;
    transition: all .3s ease;
}

.photo-item:hover .more,
.photo-item:hover .content,
.photo-item:hover .post-add-icon,
.photo-item:hover .overlay {
    opacity: 1;
}

.photo-album-wrapper {
    margin-right: -12px;
}

.photo-album-item-wrap {
    display: inline-block;
    margin-right: -3px;
    padding: 0 12px 12px 0;
    vertical-align: top;
}

.photo-album-item {
    position: relative;
    border-radius: 5px;
    border: 1px solid #e6ecf5;
    background-color: #fff;
}

.photo-album-item:last-child {
    margin-right: 0;
}

.photo-album-item .photo-item {
    float: none;
    margin: 0;
    border-radius: 3px;
    display: block;
    padding: 0;
}

.photo-album-item .photo-item img {
    width: 100%;
    border-radius: 0;
    display: block;
}

.photo-album-item .photo-item .overlay {
    bottom: 0;
    right: 0;
    border-radius: 0;
}

.photo-album-item .content {
    padding: 25px 25px 20px;
    text-align: center;
}

.photo-album-item .title {
    display: block;
    margin-bottom: 0;
}

.photo-album-item .sub-title {
    margin-bottom: 30px;
    display: block;
}

.photo-album-item .friends-harmonic {
    display: inline-block;
}

.photo-album-item.create-album {
    background-color: transparent;
    border: 2px dashed #bbc0d5;
}

.photo-album-item.create-album .content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
}

.photo-album-item.create-album .btn-control {
    margin-bottom: 20px;
    float: none;
}

.photo-album-item.create-album svg {
    width: 20px;
    height: 20px;
}

.photo-album-item .form-group {
    margin-bottom: 0;
}

.photo-album-item .form-group > img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    display: block;
}

/*------------- Responsive mode styles --------------*/
@media (max-width: 768px) {
    .photo-gallery.nav-tabs .nav-item {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .photo-item .post-add-icon {
        right: auto;
        bottom: auto;
        left: 25px;
        top: 25px;
    }

    .block-btn .btn + .btn {
        margin-left: 0;
        margin-top: 10px;
    }

    .photo-album-item.create-album .content {
        position: relative;
        -webkit-transform: none;
        transform: none;
        top: auto;
        left: auto;
        width: 100%;
    }
}