@charset "UTF-8";
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~bootstrap-sweetalert/dist/sweetalert.css';
@import '~flatpickr/dist/themes/light.css';

@import 'body';
@import 'navbar';
@import 'header';
@import 'search-bar';
@import 'control-block';
@import 'top-header';
@import 'svg-icons';
@import 'header-responsive';
@import 'open-responsive-menu';
@import 'responsive-mode';
@import 'mobile-chat';
@import 'bootstrap-customization';
@import 'ui-block';
@import 'buttons';
@import 'back-to-top';
@import 'forms';
@import 'radio-checkbox';
@import 'sidebar';
@import 'skills';
@import 'friends';
@import 'notifications';
@import 'window';
@import 'ol-style';
@import 'friends-harmonic';
@import 'posts';
@import 'comments';
@import 'post-video';
@import 'news';
@import 'photo-gallery';
@import 'social';
@import 'widgets';
@import 'fixes';
@import 'helpers';
@import 'add-post';
@import 'icons';
@import 'inputs';
@import 'mail';
@import 'like_it';
@import 'welcome-page';

// FA Free
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';