@charset "UTF-8";
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~bootstrap-sweetalert/dist/sweetalert.css';
@import '~flatpickr/dist/themes/light.css';
@import '~owl.carousel/docs/assets/owlcarousel/assets/owl.carousel.min.css';
@import '~owl.carousel/docs/assets/owlcarousel/assets/owl.theme.default.min.css';
@import '~magnific-popup/dist/magnific-popup.css';


// FA Free
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';