// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

@import 'main';
@import 'header';
@import 'search-panel';
@import 'settings';
@import 'top-header';
@import 'svg-styles';
