.row-fix {
    margin-left: 0 !important;
}

.alert-fix-success {
    color: #1d643b !important;
}

.alert-fix-danger {
    color: #761b18 !important;
}

.country-l-fix {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.profile-avatar-fix {
    border: 0 !important;
    background-color: transparent !important;
    border-radius: 100%;
}

.author-image {
    width: 124px !important;
    height: 124px !important;
}

/*LINE 417 & 418 OF THIS FILE IS COMMENTED */
.avatar {
    width: 36px !important;
    height: 36px !important;
}