.news-feed-form {
    overflow: hidden;
}

.news-feed-form .form-group.with-icon::after {
    display: none;
}

.news-feed-form .nav-tabs .nav-link {
    padding: 20px;
    border: none;
    border-bottom: 1px solid #e6ecf5;
    border-right: 1px solid #e6ecf5;
}

.news-feed-form .nav-tabs .nav-link.active {
    background-color: #fff;
    fill: #ff5e3a;
    color: #515365;
    border-bottom: transparent;
}

.news-feed-form .nav-tabs {
    background-color: #fafbfd;
    border-bottom: none;
}

.news-feed-form .nav-link {
    fill: #888da8;
    color: #888da8;
}

.news-feed-form .nav-link svg {
    margin-right: 10px;
    width: 18px;
}

.news-feed-form .nav-link .olymp-status-icon {
    width: 20px;
}

.news-feed-form textarea {
    min-height: 160px;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

.news-feed-form .form-group.label-floating.is-focused .control-label,
.news-feed-form .form-group.label-floating.has-bootstrap-select .control-label {
    top: 16px;
}

.news-feed-form .options-message {
    margin-top: 7px;
}

.news-feed-form .options-message svg {
    width: 22px;
    height: 22px;
}

.news-feed-form .options-message:hover {
    fill: #9a9fbf;
}

.news-feed-form form {
    position: relative;
}

.news-feed-form .author-thumb {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 1;
}

.news-feed-form .form-group {
    margin-bottom: 0;
}