.notification-list {
    margin-bottom: 0;
}

.notification-list .selectize-dropdown-content > *,
.notification-list li {
    padding: 25px;
    border-bottom: 1px solid #e6ecf5;
    display: block;
    position: relative;
    transition: all .3s ease;
}

.notification-list .selectize-dropdown-content > * > *,
.notification-list li > * {
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
}

.notification-list .selectize-dropdown-content > *:hover,
.notification-list li:hover {
    background-color: #fafbfd;
}

.notification-list .selectize-dropdown-content > *:hover .more,
.notification-list li:hover .more {
    opacity: 1;
}

.notification-list .selectize-dropdown-content > *.un-read,
.notification-list li.un-read {
    background-color: #f7f9fc;
}

.notification-list .selectize-dropdown-content > *.un-read .notification-icon,
.notification-list li.un-read .notification-icon {
    color: #9da2c1;
    fill: #9da2c1;
}

.notification-list .selectize-dropdown-content > * {
    cursor: pointer;
}

.notification-list .selectize-dropdown-content > *:last-child {
    border-bottom: none;
}

.notification-list .notification-friend {
    display: inline-block;
}

.notification-list .comment-photo {
    margin: 30px 0 0 60px;
    max-width: 280px;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.notification-list .comment-photo span {
    background-color: #f5f7fb;
    padding: 0 15px;
}

.notification-list .author-thumb {
    height: 40px;
    width: 40px;
}

.notification-list .notification-event {
    padding-left: 15px;
}

.notification-list .notification-date {
    font-size: 11px;
    display: block;
    margin-top: 5px;
}

.notification-list .notification-link {
    color: #ff5e3a;
}

.notification-list .notification-icon {
    color: #d7d9e5;
    fill: #d7d9e5;
    float: right;
    margin-top: 10px;
}

.notification-list .notification-icon svg {
    width: 22px;
    height: 20px;
}

.notification-list .more {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 10px;
    color: #d6d9e6;
    opacity: 0;
}

.notification-list .more i + i {
    margin-left: 5px;
}

.notification-list .more svg + i {
    margin-left: 5px;
}

.notification-list .more i + svg {
    margin-left: 5px;
}

.notification-list .more svg + svg {
    margin-left: 5px;
}

.notification-list.chat-message {
    background-color: transparent;
}

.notification-friend {
    margin-bottom: 0;
}

.chat-message .notification-event {
    max-width: 75%;
    font-size: 12px;
}

.chat-message .notification-friend {
    display: block;
}

.chat-message li > * {
    vertical-align: top;
}

.chat-message .author-thumb {
    height: 36px;
    width: 36px;
}

.chat-message li.chat-group .author-thumb {
    border-radius: 0;
}

.chat-message li.chat-group .author-thumb img {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
    border-radius: 100%;
    overflow: hidden;
}

.chat-message li.chat-group .last-message-author {
    color: #515365;
    font-weight: 700;
}

.chat-message li.message-unread {
    background-color: #f7f9fc;
}

.chat-message li.message-unread .notification-icon {
    fill: #9a9fbf;
}

.chat-field {
    border-left: 1px solid #e6ecf5;
}

.chat-field .mCustomScrollbar {
    overflow: hidden;
    max-height: 450px;
}

.chat-field .ps > .ps__scrollbar-y-rail,
.chat-field .ps:hover > .ps__scrollbar-y-rail {
    opacity: 0;
    z-index: -1;
    visibility: hidden;
}

.chat-field textarea {
    border-radius: 0;
    border-right: 0;
    border-left: 0;
}

.chat-message-field .notification-event {
    max-width: 90%;
}

.chat-message-field li {
    border-bottom: none;
}

.chat-message-field li:hover {
    background-color: transparent;
}

.chat-message-field .chat-message-item {
    margin-top: 10px;
    font-size: 13px;
    display: block;
}

.chat-message-field .notification-date {
    font-size: 10px;
    margin-top: 0;
}

.chat-message-field .event-info-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.added-photos {
    margin-top: 20px;
}

.added-photos img {
    border-radius: 10px;
    margin-right: 8px;
    margin-bottom: 15px;
    display: block;
}

.added-photos img:last-child {
    margin-right: 0;
}

.added-photos .photos-name {
    display: block;
    font-size: 10px;
}

.add-options-message {
    padding: 20px 25px;
    float: left;
    width: 100%;
}

.add-options-message button {
    margin-bottom: 0;
    float: right;
}

.add-options-message button + button {
    margin-right: 15px;
}

.add-options-message .options-message {
    color: #c2c5d9;
    fill: #c2c5d9;
    position: relative;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}

.add-options-message .options-message + .options-message {
    margin-left: 35px;
}

.add-options-message .options-message svg {
    width: 24px;
    height: 18px;
}

.add-options-message .more-dropdown {
    width: 215px;
    top: auto;
    bottom: 20px;
    right: -20px;
    padding: 8px;
}

.add-options-message .more-dropdown a {
    padding: 0;
}

.add-options-message .more-dropdown li {
    float: left;
    padding: 4px;
}

.smile-block:hover .more-dropdown {
    opacity: 1;
    visibility: visible;
}

.smile-block li a {
    opacity: .7;
}

.smile-block li:hover a {
    opacity: 1;
}

.icon-status {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    display: inline-block;
    margin-right: 8px;
}

.icon-status.online {
    background-color: #32e4cd;
}

.icon-status.away {
    background-color: #ffd52f;
}

.icon-status.disconected {
    background-color: #ff4f60;
}

.icon-status.status-invisible {
    background-color: #cbdfee;
}

.friend-requests .notification-icon {
    margin-top: 0;
}

.friend-requests .notification-friend {
    display: block;
}

.friend-requests .accepted .notification-friend {
    display: inline-block;
}

.friend-requests .accepted .notification-link {
    color: #00b7ff;
}

.friend-requests .accepted .notification-icon {
    margin-top: 10px;
}

.friend-requests .chat-message-item {
    font-size: 12px;
}

.birthday-item {
    padding: 25px;
}

.birthday-item .author-thumb {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.birthday-item .birthday-date {
    font-size: 12px;
}

.birthday-item .btn {
    margin-bottom: 0;
    float: right;
    margin-top: 5px;
    max-width: 35%;
}

.birthday-item.badges .author-thumb {
    width: 38px;
    height: 38px;
    margin-right: 25px;
}

.birthday-item.badges .birthday-date {
    font-size: 13px;
}

.birthday-item.badges .skills-item {
    min-width: 220px;
    display: block;
    float: right;
    margin-bottom: 0;
    margin-top: 18px;
}

@media (max-width: 999px) {
    .birthday-item.badges .skills-item {
        float: none;
    }
}

.birthday-item.badges .skills-item-meter-active {
    background: linear-gradient(to right, #ff613a, #ff9432);
}

.label-avatar {
    position: absolute;
    top: -1px;
    right: -4px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    border-radius: 100%;
    overflow: hidden;
}

@media (max-width: 1400px) {
    .birthday-item {
        padding: 25px 10px;
    }
}

@media (max-width: 1200px) {
    .birthday-item {
        padding: 15px;
    }
}

@media (max-width: 980px) {
    .col.col-xl-5.col-lg-6.col-md-12.col-sm-12.col-12.padding-r-0 {
        padding-right: 15px;
    }

    .col.col-xl-7.col-lg-6.col-md-12.col-sm-12.col-12.padding-l-0 {
        padding-left: 15px;
    }
}

@media (max-width: 480px) {
    .add-options-message .options-message + .options-message {
        margin-left: 15px;
    }

    .add-options-message button {
        float: none;
        margin-left: 0;
        display: block;
        margin-top: 10px;
    }

    .add-options-message button + button {
        margin-right: 0;
    }

    .notification-list .notification-event {
        max-width: 75%;
    }

    .birthday-item {
        padding: 10px;
    }

    .birthday-item .author-thumb {
        margin-right: 5px;
    }
}

@media (max-width: 420px) {
    .birthday-item.badges .author-thumb {
        margin-right: 0;
        margin-bottom: 15px;
        display: block;
    }
}

@media (max-width: 360px) {
    .notification-list .notification-event {
        max-width: 60%;
    }

    .chat-message-field .notification-date {
        float: none;
        margin-top: 5px;
    }

    .chat-message-field .notification-friend {
        float: none;
    }
}

.popup-chat {
    width: 320px;
    box-shadow: 0 0 34px 0 rgba(63, 66, 87, 0.1);
    overflow: hidden;
    position: relative;
    z-index: 5;
}

.popup-chat .modal-body {
    padding: 0;
    display: flex;
}

.popup-chat .modal-header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.popup-chat .modal-header .title {
    margin-right: auto;
}

.popup-chat .modal-content {
    border: 0;
}

.popup-chat .mCustomScrollbar {
    overflow: hidden;
    max-height: 350px;
}

.popup-chat .ps > .ps__scrollbar-y-rail,
.popup-chat .ps:hover > .ps__scrollbar-y-rail {
    opacity: 0;
    z-index: -1;
    visibility: hidden;
}

.popup-chat .modal-header {
    background-color: #7c5ac2;
    padding: 17px;
}

.popup-chat .modal-header .title {
    color: #fff;
}

.popup-chat .more {
    width: auto;
    font-size: 9px;
    text-align: right;
    color: #fff;
    fill: #fff;
}

.popup-chat .more i + i {
    margin-left: 15px;
}

.popup-chat .more svg + i {
    margin-left: 15px;
}

.popup-chat .more i + svg {
    margin-left: 15px;
}

.popup-chat .more svg + svg {
    margin-left: 15px;
}

.popup-chat .notification-event {
    padding-left: 10px;
    width: 75%;
}

.popup-chat .chat-message-item {
    padding: 13px;
    background-color: #f0f4f9;
    margin-top: 0;
    border-radius: 10px;
    margin-bottom: 5px;
    font-size: 12px;
}

.popup-chat .notification-date {
    float: right;
}

.popup-chat .author-thumb {
    width: 26px;
    height: 26px;
}

.popup-chat .chat-message-field li {
    overflow: hidden;
    padding: 9px 25px;
}

/*.popup-chat .chat-message-field li:nth-child(2n) .chat-message-item {
    background-color: #7c5ac2;
    color: #fff;
}

.popup-chat .chat-message-field li:nth-child(2n) .author-thumb {
    float: right;
}

.popup-chat .chat-message-field li:nth-child(2n) .chat-message-item {
    float: right;
}

.popup-chat .chat-message-field li:nth-child(2n) .notification-event {
    float: right;
    padding-left: 0;
    padding-right: 10px;
}*/

.popup-chat .add-options-message {
    position: absolute;
    right: 20px;
    bottom: 15px;
    width: auto;
    padding: 0;
}

.popup-chat .add-options-message .options-message + .options-message {
    margin-left: 15px;
}

.popup-chat .form-group.label-floating textarea.form-control {
    padding-right: 80px;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
}

.popup-chat .form-group {
    margin-bottom: 0;
}

.popup-chat textarea {
    min-height: 60px;
    height: 60px;
    transition: all .3s ease;
    border-radius: 0;
}

.popup-chat textarea:focus {
    min-height: 100px;
}

.popup-chat-responsive {
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    max-width: 300px;
    opacity: 1;
    visibility: visible;
    display: block;
    transition: all .3s ease;
    margin-bottom: 0;
    z-index: 999;
    max-height: 70vh;
}

.popup-chat-responsive .mCustomScrollbar {
    overflow: hidden;
    max-height: 150px;
}

.popup-chat-responsive.open-chat {
    bottom: auto;
    top: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

@media (max-width: 768px) {
    .popup-chat-responsive {
        opacity: 1;
        visibility: visible;
        display: block;
    }
}
