.post {
    position: relative;
    padding: 25px;
    border-bottom: 1px solid #e6ecf5;
}

.post p {
    margin: 25px 0;
}

.post .control-block-button {
    top: 20px;
    right: -17px;
}

.post.thumb-full-width .post-thumb {
    border-radius: 0;
    margin: 0 -25px 25px;
}

.post .btn {
    margin-bottom: 25px;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6,
.post .h1,
.post .h2,
.post .h3,
.post .h4,
.post .h5,
.post .h6 {
    display: inline-block;
}

.post h1 + p,
.post h2 + p,
.post h3 + p,
.post h4 + p,
.post h5 + p,
.post h6 + p,
.post .h1 + p,
.post .h2 + p,
.post .h3 + p,
.post .h4 + p,
.post .h5 + p,
.post .h6 + p {
    margin-top: 10px;
}

.post .post__author-name {
    font-weight: 700;
    margin-bottom: 0;
}

.post .more-photos span {
    font-weight: 700;
}

.post.shared-photo .post-thumb {
    border: 1px solid #e6ecf5;
    margin-bottom: 0;
}

.post .author-date a {
    font-weight: 700;
}

.post-block-photo {
    margin-bottom: 20px;
    overflow: hidden;
}

.post-block-photo a,
.post-block-photo span {
    float: left;
    overflow: hidden;
    padding: 0 8px 8px 0;
}

.post-block-photo a img,
.post-block-photo span img {
    border-radius: 3px;
    width: 100%;
    display: block;
}

.more-photos {
    position: relative;
}

.more-photos:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 8px;
    bottom: 8px;
    background-color: #ff5e3a;
    opacity: .8;
    border-radius: 3px;
}

.more-photos span {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 5;
    font-weight: 700;
    margin-left: -8px;
}

.post-thumb {
    border-radius: 5px;
    margin-bottom: 25px;
    overflow: hidden;
    position: relative;
}

.post-thumb img {
    width: 100%;
    display: block;
}

.post__author {
    margin-bottom: 20px;
}

.post__author img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 12px;
}

.post__author .more {
    float: right;
    font-size: 16px;
    margin-right: 20px;
}

.post-additional-info {
    padding: 20px 0 0;
    border-top: 1px solid #e6ecf5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.post-additional-info > * {
    margin-right: 15px;
}

.post-additional-info > *:last-child {
    margin-right: 0;
    margin-left: auto;
}

.comments-shared > * {
    margin-right: 15px;
}

.comments-shared > *:last-child {
    margin-right: 0;
}

.comments-shared span {
    color: #888da8;
}

.post-add-icon {
    fill: #c2c5d9;
    color: #c2c5d9;
    text-decoration: none;
}

.post-add-icon > * {
    vertical-align: middle;
    transition: all .15s ease;
}

.post-add-icon svg,
.post-add-icon img {
    margin-right: 8px;
    width: 20px;
    height: 18px;
}

.post-add-icon .olymp-speech-balloon-icon {
    width: 22px;
    height: 20px;
}

.post-add-icon .olymp-share-icon {
    width: 26px;
    height: 21px;
}

.post-add-icon:hover {
    fill: #ff5e3a;
    color: #ff5e3a;
    text-decoration: none;
}

.post-add-icon:hover span {
    color: #ff5e3a;
}

.post-add-icon:active,
.post-add-icon:focus {
    fill: #c2c5d9;
    color: #c2c5d9;
}

.names-people-likes {
    font-size: 12px;
}

.names-people-likes a {
    color: #515365;
    font-weight: 700;
}

.post-control-button .btn-control {
    display: block;
    margin-bottom: 6px;
    margin-right: 0;
    background-color: #9a9fbf;
    width: 34px;
    height: 34px;
    line-height: 36px;
}

.post-control-button .btn-control.bg-facebook {
    background-color: #2f5b9d;
}

.post-control-button .btn-control.bg-facebook:hover {
    background-color: #2f5b9d;
}

.post-control-button .btn-control.bg-twitter {
    background-color: #38bff1;
}

.post-control-button .btn-control.bg-twitter:hover {
    background-color: #38bff1;
}

.post-control-button .btn-control svg {
    width: 18px;
    height: 18px;
}

.post-control-button .btn-control .olymp-share-icon {
    width: 24px;
}

.post-control-button .btn-control:hover {
    background-color: #ff5e3a;
}

.post-control-button .btn-control.featured-post:hover {
    background-color: #ffc923;
}

.post-control-button .btn-control.has-i svg,
.post-control-button .btn-control.has-i i {
    font-size: 15px;
    width: 15px;
    height: 15px;
}

.empty-post {
    height: 600px;
    background-color: #dce1eb;
    opacity: .5;
}

.empty-post-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.empty-post-content .title {
    font-size: 16px;
    font-weight: 700;
    color: #515365;
}

.empty-post-content span {
    font-size: 11px;
}

/*================= Responsive Mode ============*/
@media (max-width: 768px) {
    .post-control-button .btn-control {
        display: inline-block;
    }

    .post .control-block-button {
        right: 20px;
        top: -13px;
    }

    .post__author .more {
        margin-right: -16px;
    }

    .post-control-button .btn-control svg {
        width: 14px;
        height: 14px;
    }

    .post-control-button .btn-control {
        line-height: 32px;
    }

    .post-control-button .btn-control.has-i {
        line-height: 36px;
    }

    .post__author {
        margin-bottom: 5px;
    }
}

@media (max-width: 480px) {
    .post-additional-info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .post-additional-info > * {
        margin-right: 0;
    }

    .post-additional-info > * + * {
        margin-top: 10px;
    }

    .post-additional-info > *:last-child {
        margin-left: 0;
    }
}