[class^="olymp-"],
[class*=" -icon"] {
    height: 26px;
    width: 26px;
    display: inline-block;
}

.post__likes-small {
    width: 16px;
    height: 14px;
}

.post__shared-small {
    width: 24px;
    height: 21px;
}

.post__comments-small {
    width: 18px;
    height: 16px;
}

.post__likes {
    width: 20px;
    height: 18px;
}

.post__comments {
    width: 22px;
    height: 20px;
}

.post__shared {
    width: 26px;
    height: 21px;
}

.fav-icon {
    width: 20px;
    height: 20px;
}

.arrow-down-icon {
    width: 6px;
    height: 4px;
}

.olymp-three-dots-icon {
    width: 16px;
    height: 4px;
}

.olymp-little-delete {
    width: 8px;
    height: 8px;
}

.olymp-trophy-icon {
    width: 18px;
    height: 16px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}
.olymp-trophy-icon:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.olymp-like-post-icon {
    width: 18px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}
.olymp-like-post-icon:hover {
    width: 21px !important;
}
.olymp-comments-post-icon {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .5s ease-in-out;
}
.olymp-comments-post-icon:hover{
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}